*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/sign
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/lib_permission/build/
/lib_permission/build/intermediates/javac/debug/classes/